.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  grid-template: 1rem;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
}


/* ====================
MEDIA
==================== */
@media (max-width: 1200px) {
  .Profile {
    grid-template-columns: 18rem auto;
  }
  .RightSide {
    width: 95vw;
  }
}
@media (max-width: 870px) {
  .PostShare .option p {
    display: none;
  }
}@media (max-width: 700px) {
  .Profile {
    grid-template-columns: auto;
  }
}