.PostShare {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--cardColor);
}
.PostShare > img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.PostShare > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.PostShare > div > input {
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--inputColor);
}

.postOptions {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
}
.option:hover {
  cursor: pointer;
}
.option p {
  margin: 0;
}

.ps-btn {
  padding: 5px 20px;
  font-size: 12px;
}

.previewImage {
  position: relative;
}
.previewImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  background-color: var(--orange);
}
.previewImage > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}